@font-face {
    font-family: 'futura';
    src: url(public/futura-normal_[allfont.ru].ttf);
}

* {margin: 0; padding: 0; box-sizing: border-box}

.menu_button {
    position: relative;
    z-index: 2;
    top: 20px;
    left: 20px;
    width: 30px;
    height: 20px;
    &:hover {
        cursor: pointer;
    }
    .upDown, .downUp {
        position: absolute;
        background-color: black;
        width: 100%;
        height: 2px;
        transition-duration: 0.5s;
    }
    &[data-state='closed'] {
        .downUp {
            transform: translateY(10px) rotate(0);
        }
        .upDown {
            transform: rotate(0);
        }
    }
    &[data-state='opened'] {
        .downUp {
            transform: translateY(5px) rotate(-45deg);
        }
        .upDown {
            transform: translateY(5px) rotate(45deg);
        }
    }
}

.menu {
    position: absolute;
    top: 0;
    width: 30vw;
    height: 100vh;
    backdrop-filter: blur(5px);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: rgba($color: white, $alpha: 0.6);
    z-index: 1;
    transition-duration: 0.5s;
    &[data-state='closed'] {
        left: -30vw;
    }
    &[data-state='opened'] {
        left: 0;
    }
    .menu_items_container {
        position: relative;
        top: 60px;
    }
    p {
        position: relative;
        width: 100%;
        padding: 10px 0 10px 20px;
        font-size: 40px;
        font-family: futura;
        &:hover {
            color: white;
            background-color: rgba($color: black, $alpha: 0.6);
        }
    }
}

.content img {
    position: relative;
    width: 20vw;
    top: 100px;
    left: 15vw;
    border-radius: 20px;
}